@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font: normal 14px/18px 'Abel', sans-serif;
  color: #000;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  padding: 0px;
  margin: 0px;
  outline: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

label {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

input[type="text"]::-webkit-placeholder {
  opacity: 1;
}

input[type="text"]::-moz-placeholder {
  opacity: 1;
}

input[type="password"]::-webkit-placeholder {
  opacity: 1;
}

input[type="password"]::-moz-placeholder {
  opacity: 1;
}

input[type="search"]::-webkit-placeholder {
  opacity: 1;
}

input[type="search"]::-moz-placeholder {
  opacity: 1;
}

input[type="email"]::-webkit-placeholder {
  opacity: 1;
}

input[type="email"]::-moz-placeholder {
  opacity: 1;
}

input[type="tel"]::-webkit-placeholder {
  opacity: 1;
}

input[type="tel"]::-moz-placeholder {
  opacity: 1;
}

textarea::-moz-placeholder {
  opacity: 1;
}

textarea::-webkit-placeholder {
  opacity: 1;
}

a:hover {
  outline: none !important;
  text-decoration: none;
}

a:active {
  outline: none !important;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

a,
button,
input[type="submit"] {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


.headersec {
  background-color: var(--ColorWhite);
  -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 20%);
  box-shadow: 0 3px 12px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.headersec.fixed,
.navbar-brand {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.headersec.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: 0 0 8px -5px #333;
  -webkit-box-shadow: 0 0 8px -5px #333;
  box-shadow: 0 0 8px -5px #333;
}

.headersec.fixed .headerTop {
  display: none;
}


/* Colors */
:root {
  --ColorTheme: #fe7c00;
  --ColorWhite: #ffffff;
  --ColorBlack: #000000;
  --ColorGreen: #8ac048;
}

@-webkit-keyframes animationFade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animationFade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.headersec.fixed {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0;
  z-index: 1002;
  -webkit-animation-name: animationFade;
  -o-animation-name: animationFade;
  animation-name: animationFade;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-box-shadow: 0 0 8px -5px #333;
  -webkit-box-shadow: 0 0 8px -5px #333;
  box-shadow: 0 0 8px -5px #333;
}

.headerTop {
  padding: 15px 0 15px;
  background-color: var(--ColorGreen);
}

.hdrTopInr,
.hdrSocials ul,
.hdrContact ul {
  display: flex;
  justify-content: center;
}

.hdrSocials {
  padding-right: 50px;
}

.hdrSocials ul li a {
  display: block;
  margin-right: 10px;
}

.hdrSocials ul li:last-child a {
  margin-right: 0;
}

.hdrSocials ul li img {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  width: 32px;
}

.hdrSocials ul li a:hover img {
  transform: rotate(360deg);
}

.hdrContact ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdrContact ul li {
  margin-right: 25px;
}

.hdrContact ul li a img {
  width: 30px;
  margin-right: 8px;
}

.hdrContact ul li a em {
  font: 500 16px/26px 'Poppins', sans-serif;
  color: var(--ColorWhite);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.hdrContact ul li a em:hover {
  color: var(--ColorBlack);
}

.hderinr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.hdrlgo a {
  display: block;
  margin-right: 25px;
}

.hdrlgo img {
  width: 180px;
  margin-right: 45px;

}

ul.slimmenu li {
  background-color: transparent;
  border: 0;
  margin-right: 45px;
}

ul.slimmenu li:last-child {
  margin-right: 0;
}

ul.slimmenu li a {
  color: var(--ColorBlack);
  font: 500 18px/28px 'Poppins', sans-serif;
}

ul.slimmenu li a:hover {
  background-color: transparent;
  color: var(--ColorTheme);
}

ul.slimmenu li.active a {
  color: var(--ColorTheme);
}


/* Banner */
.bannerSec {
  position: relative;
}

.bnrimg {
  position: relative;
  height: 100%;
}

.bnrimg .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bnrtxt {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.bannerSec .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.bannerSec .owl-dots .owl-dot span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--ColorBlack);
  border-radius: 100%;
  margin: 0 6px;
}

.bannerSec .owl-dots .owl-dot.active span::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--ColorGreen);
  border-radius: 100%;
}


/* About Us */
.aboutSec {
  padding: 100px 0 100px;
}

.aboutSec {
  background: url(../images/abtbg2.jpg) no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
  background-color: #f6f5fb;
}

.topHdng h1 {
  text-align: center;
  font: 600 50px/60px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  padding-bottom: 6px;
  margin-bottom: 60px;
  position: relative;
}

.topHdng h1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 1px;
  background-color: var(--ColorTheme);
  bottom: 0;
}

.pageContent p {
  font: 400 18px/31px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  margin-bottom: 20px;
}

.pageContent p:last-child {
  margin-bottom: 0;
}

.abtColImg img {
  width: 100%;
  max-width: 100%;
}

.aboutSec .row {
  align-items: center;
}

.abtBtn {
  padding-top: 35px;
}

.themeBtn a {
  padding: 10px 30px;
  font: 400 18px/31px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  border: 2px solid var(--ColorGreen);
  border-radius: 45px;
}

.themeBtn a:hover {
  background-color: var(--ColorGreen);
  color: var(--ColorWhite);
}


/* Our Product Section */
.ourProductSec {
  padding: 70px 0 90px;
}

.ourProductSec .topHdng {
  padding-bottom: 80px;
}

.productBx a {
  display: block;
}

.productBx img {
  width: 100%;
}

.productBx {
  position: relative;
  padding: 25px;
  background-color: var(--ColorWhite);
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  border: 2px solid var(--ColorGreen);
}

.productBx:hover {
  box-shadow: none;
}

.productBx:hover {
  background-color: var(--ColorGreen);
}

.productBx img {
  position: absolute;
  width: 150px;
  border-radius: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -75px;
  border: 2px solid var(--ColorGreen);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.productCont {
  margin-top: 90px;
}

.productCont h4 {
  font: 600 22px/32px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--ColorBlack);
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.productBx:hover .productCont h4 {
  color: var(--ColorWhite);
  border-bottom: 1px solid var(--ColorWhite);
}

.priceWrap {
  text-align: center;
}

.priceWrap span {
  color: var(--ColorBlack);
  font: 600 20px/30px 'Poppins', sans-serif;
}

.productBx:hover .priceWrap span {
  color: var(--ColorWhite);
}

.plusIcn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--ColorGreen);
  margin: 25px auto 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.plusIcn i {
  color: var(--ColorWhite);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.productBx:hover .plusIcn {
  background-color: var(--ColorWhite);
}

.productBx:hover .plusIcn i {
  color: var(--ColorGreen);
}


/* Recipes */
.recipesSec {
  padding-top: 60px;
  padding-bottom: 40px;
  background-size: contain;
  background-position: top center;
  position: relative;
  background-color: #f6f5fb;
}

.recipesSec .recpyVdoWrap iframe {
  width: 100%;
  height: 250px !important;
  object-fit: cover !important;
}

.recpyTitle h4 a {
  display: block;
  font: 600 22px/32px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  text-align: center;
  padding-top: 15px;
}

.recpyTitle h4 a:hover {
  color: var(--ColorTheme);
}

.recipesSec .owl-dots {
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-top: 50px;
}

.recipesSec .owl-dots .owl-dot span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--ColorBlack);
  border-radius: 100%;
  margin: 0 6px;
}

.recipesSec .owl-dots .owl-dot.active span::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--ColorGreen);
  border-radius: 100%;
}


/* Footer */

.foterSec {
  background-color: var(--ColorGreen);
  padding: 30px 0;
}

.ftrLogo {
  display: flex;
  justify-content: center;
}

.ftrLogo a img {
  width: 200px;
  padding: 10px;
  background-color: var(--ColorWhite);
}

.ftrMenuWrap ul {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.ftrMenuWrap ul li {
  margin: 0 20px;
}

.ftrMenuWrap ul li a {
  color: var(--ColorBlack);
  font: 500 18px/28px 'Poppins', sans-serif;
}

.ftrMenuWrap ul li a:hover {
  background-color: transparent;
  color: var(--ColorWhite);
}

.ftrMenuWrap ul li.active a {
  color: var(--ColorWhite);
}

.ftrBtm {
  padding: 12px 0;
  background-color: #4a6626;
}

.ftrCopyright p {
  text-align: center;
  color: var(--ColorWhite);
  font: 400 16px/26px 'Poppins', sans-serif;
}

.ftrCopyright p a {
  color: var(--ColorWhite);
}

.ftrCopyright p a:hover {
  color: var(--ColorGreen);
}

/* Inner Page */
.inrBnrSec img {
  width: 100%;
}

.abtBtmTxt h3 {
  text-align: center;
  font: 600 30px/40px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  padding-top: 35px;
  margin-bottom: 35px;
}

.defaultSec {
  padding: 80px 0 110px;
}

.productSec .topHdng {
  padding-bottom: 40px;
}

.productImg img {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--ColorGreen);
}

.row-reverse {
  flex-direction: row-reverse;
}

.prodctRowWrap .row .pageContent {
  padding-right: 20px;
}

.prodctRowWrap .row-reverse .pageContent {
  padding-right: 0;
  padding-left: 20px;
}

.prodctRowWrap .row {
  align-items: center;
  margin-bottom: 60px;
}

.prodctRowWrap .row:last-child {
  margin-bottom: 0;
}

.productsCol h3 {
  font: 600 30px/40px 'Poppins', sans-serif;
  color: var(--ColorTheme);
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 10px;
}

.productsCol h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 1px;
  background-color: var(--ColorTheme);
}

.prodctIngrdnts span {
  display: inline-block;
  color: var(--ColorBlack);
  font-weight: 500;
  margin-right: 5px;
  position: relative;
  padding-left: 15px;
}

.prodctIngrdnts span::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: var(--ColorTheme);
  border-radius: 100%;
}

.recipesSec {
  padding: 80px 0 60px;
}

.recipesCol {
  padding: 25px 25px;
  margin-bottom: 40px;
  border: 2px solid var(--ColorGreen);
}

.recipesCol iframe {
  width: 100% !important;
  max-width: 100% !important;
}

.recipesCol h3 {
  margin-top: 30px;
  color: var(--ColorBlack);
}

.contactWrapper {
  max-width: 1000px;
  padding: 40px 40px;
  margin: 0 auto;
  border: 2px solid var(--ColorGreen);
  border-radius: 25px;
}

.contactWrapper h3 {
  font: 600 30px/40px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  text-align: center;
  margin-bottom: 50px;
}

.whtsappWrp {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.whtsappWrp img {
  width: 45px;
  margin-right: 10px;
}

.whtsappWrp a {
  display: flex;
  align-items: center;
  font: 600 20px/30px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  margin-bottom: 25px;
}

.whtsappWrp a.contctPhn em {
  font: 500 18px/28px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.whtsappWrp a.contctPhn em:hover {
  color: var(--ColorGreen);
}

.whtsappWrp a.contctPhn em strong {
  display: inline-block;
  margin-left: 10px;
}

.whtsappWrp a.contctPhn i.fa-phone {
  color: var(--ColorGreen);
  font-size: 32px;
  margin-right: 10px;
}

.whtsappWrp a:hover {
  color: var(--ColorGreen);
}

.contctDtlsWrap {
  margin-bottom: 60px;
}

.contctDtlsWrap a {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.contctDtlsWrap a em {
  font: 500 18px/28px 'Poppins', sans-serif;
  color: var(--ColorBlack);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.contctDtlsWrap a em:hover {
  color: var(--ColorGreen);
}

.contctDtlsWrap a i {
  font-size: 26px;
  color: var(--ColorGreen);
  display: inline-block;
  margin-right: 20px;
}

.contctDtlsWrap a i.fa-map-marker {
  font-size: 34px;
}

.contctDtlsWrap a:hover em {
  columns: var(--ColorGreen);
}

.iframeWrap iframe {
  width: 100% !important;
  max-width: 100% !important;
  height: 300px !important;
}

.contactMiddleWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



@media screen and (min-width:1600px) {

  .container {
    max-width: 1400px;
  }

}


@media only screen and (max-width: 1599px) {
  .headerTop {
    padding: 10px 0;
  }

  .hdrSocials ul li img {
    width: 26px;
  }

  .hdrContact ul li a img {
    width: 26px;
  }

  .hdrlgo img {
    width: 160px;
    margin-right: 30px;
  }

  .hdrContact ul li a em {
    font-size: 15px;
    line-height: 25px;
  }

  .hderinr {
    padding: 10px 0;
  }

  ul.slimmenu li a {
    font-size: 16px;
    line-height: 26px;
  }

  .topHdng h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .pageContent p {
    font-size: 15px;
    line-height: 28px;
  }

  .themeBtn a {
    font-size: 16px;
    line-height: 29px;
  }

  .productBx img {
    width: 130px;
  }

  .productCont {
    margin-top: 60px;
  }

  .productCont h4,
  .priceWrap span {
    font-size: 18px;
    line-height: 28px;
  }

  .plusIcn {
    width: 35px;
    height: 35px;
  }

  .recpyTitle h4 a {
    font-size: 18px;
    line-height: 28px;
  }

  .recipesSec .owl-dots {
    margin-top: 30px;
  }

  .ftrMenuWrap ul li {
    margin: 0 12px;
  }

  .ftrMenuWrap ul li a {
    font-size: 16px;
    line-height: 26px;
  }

  .ftrCopyright p {
    font-size: 14px;
    line-height: 24px;
  }

  .ftrLogo a img {
    width: 160px;
  }

  .bannerSec .owl-dots .owl-dot span,
  .recipesSec .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
  }

  .abtBtmTxt h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .defaultSec {
    padding: 70px 0 90px;
  }

  .productSec .topHdng {
    padding-bottom: 30px;
  }

  .productsCol h3 {
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 8px;
    margin-bottom: 22px;
  }

  .productsCol h3::after {
    width: 120px;
  }

  .productImg img {
    padding: 10px;
  }

  .prodctRowWrap .row .pageContent {
    padding-right: 10px;
  }

  .prodctRowWrap .row-reverse .pageContent {
    padding-left: 10px;
  }

  .recipesSec {
    padding: 70px 0 50px;
  }

  .recipesCol {
    padding: 15px 15px;
  }

  .contactWrapper h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .whtsappWrp a {
    font-size: 18px;
    line-height: 28px;
  }

  .whtsappWrp a.contctPhn em,
  .contctDtlsWrap a em {
    font-size: 16px;
    line-height: 26px;
  }

  .whtsappWrp img {
    width: 35px;
  }

  .whtsappWrp a.contctPhn i.fa-phone {
    font-size: 25px;
  }

  .contctDtlsWrap a i {
    font-size: 20px;
    margin-right: 15px;
  }

  .contctDtlsWrap a i.fa-map-marker {
    font-size: 28px;
  }

  .contctDtlsWrap {
    margin-bottom: 30px;
  }

  .iframeWrap iframe {
    height: 250px !important;
  }

}


@media only screen and (max-width: 1199px) {

  .headerTop {
    padding: 7px 0;
  }

  .hdrSocials ul li img {
    width: 22px;
  }

  .hdrContact ul li a img {
    width: 22px;
  }

  .hdrContact ul li a em {
    font-size: 14px;
    line-height: 24px;
  }

  .hderinr {
    padding: 5px 0;
  }

  .hdrlgo img {
    width: 150px;
  }

  ul.slimmenu li {
    margin-right: 35px;
  }

  ul.slimmenu li a {
    font-size: 14px;
    line-height: 24px;
  }

  .bannerSec .owl-dots .owl-dot span,
  .recipesSec .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
  }

  .aboutSec {
    padding: 80px 0 60px;
  }

  .pageContent p {
    font-size: 14px;
    line-height: 26px;
  }

  .ourProductSec {
    padding: 50px 0 60px;
  }

  .ourProductSec .topHdng {
    padding-bottom: 60px;
  }

  .productBx img {
    width: 110px;
    top: -55px;
  }

  .productCont {
    margin-top: 55px;
  }

  .productCont h4,
  .priceWrap span {
    font-size: 15px;
    line-height: 25px;
  }

  .plusIcn {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .recipesSec {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .ftrLogo a img {
    width: 140px;
  }

  .ftrMenuWrap ul li a {
    font-size: 14px;
    line-height: 24px;
  }

  .ftrCopyright p {
    font-size: 12px;
    line-height: 22px;
  }

  .recipesSec .recpyVdoWrap iframe {
    height: 200px !important;
  }

  .recpyTitle h4 a {
    font-size: 16px;
    line-height: 26px;
  }

  .abtBtmTxt h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .defaultSec {
    padding: 60px 0 80px;
  }

  .prodctRowWrap .row {
    align-items: flex-start;
  }

  .productsCol h3 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
    margin-bottom: 22px;
  }

  .productsCol h3::after {
    width: 100px;
  }

  .productSec .topHdng {
    padding-bottom: 20px;
  }

  .recipesSec {
    padding: 60px 0 20px;
  }

  .recipesCol h3 {
    margin-top: 18px;
  }

  .contactWrapper {
    padding: 30px 30px;
  }

  .whtsappWrp a {
    font-size: 16px;
    line-height: 26px;
  }

  .whtsappWrp a.contctPhn em,
  .contctDtlsWrap a em {
    font-size: 15px;
    line-height: 25px;
  }

  .iframeWrap iframe {
    height: 200px !important;
  }

  .contactWrapper h3 {
    font-size: 20px;
    line-height: 30px;
  }

}


@media only screen and (max-width: 991px) {

  .aboutSec {
    padding: 40px 0 40px;
  }

  .topHdng h1 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  .pageContent p {
    margin-bottom: 15px;
  }

  .themeBtn a {
    font-size: 14px;
    line-height: 27px;
  }

  .productBx {
    padding: 22px;
    border-radius: 15px;
  }

  .recpyTitle h4 a {
    font-size: 15px;
    line-height: 25px;
  }

  .defaultSec {
    padding: 40px 0 40px;
  }

  .abtBtmTxt h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .productsCol h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .productsCol h3::after {
    width: 80px;
  }

  .prodctRowWrap .row {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .productSec .topHdng {
    padding-bottom: 10px;
  }

  .productImg img {
    margin-bottom: 30px;
  }

  .prodctRowWrap .row .pageContent,
  .prodctRowWrap .row-reverse .pageContent {
    padding: 0;
  }

  .recipesCol {
    padding: 10px 10px;
  }

  .recipesSec {
    padding: 40px 0 10px;
  }

  .contactWrapper h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
  }

  .iframeWrap iframe {
    height: 150px !important;
  }

  .contactWrapper {
    padding: 30px 30px 15px;
  }

}

@media only screen and (max-width: 767px) {

  .hderinr {
    position: relative;
    justify-content: flex-start;
  }

  .collapse-button {
    background-color: var(--ColorGreen);
    right: 0;
  }

  .collapse-button:hover,
  .collapse-button:focus {
    background-color: var(--ColorGreen);
  }

  ul.slimmenu {
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 61px;
    background: var(--ColorGreen);
    padding: 8px 15px;
    border-radius: 0 0 15px 15px;
  }

  ul.slimmenu.collapsed li {
    margin-bottom: 8px;
  }

  ul.slimmenu.collapsed li a {
    border: 0;
  }

  ul.slimmenu li.active a {
    color: var(--ColorWhite);
  }

  .hdrlgo img {
    width: 120px;
  }

  .aboutSec {
    padding: 40px 0 20px;
  }

  .abtBtn.themeBtn {
    text-align: center;
  }

  .abtColImg {
    padding-top: 20px;
  }

  .ourProductSec {
    padding-bottom: 0;
  }

  .productBx {
    margin-bottom: 80px;
  }

  .recipesSec {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .recipesSec .recpyVdoWrap iframe {
    height: 240px !important;
  }

  .bannerSec .owl-dots {
    bottom: 0;
  }

  .bannerSec .owl-dots .owl-dot span,
  .recipesSec .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
  }

  .bannerSec .owl-dots .owl-dot.active span::before,
  .recipesSec .owl-dots .owl-dot.active span::before {
    width: 8px;
    height: 8px;
  }

  .aboutSec {
    background-image: none;
  }

  .ourProductSec {
    padding: 30px 0 0px;
  }

  .topHdng h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .abtBtmTxt h3 {
    margin-bottom: 16px;
  }

  .productsCol h3 {
    margin-bottom: 12px;
  }

  .defaultSec {
    padding: 30px 0 30px;
  }

  .recipesCol iframe {
    height: 200px !important;
  }

  .recipesSec {
    padding: 30px 0 10px;
  }

  .contactMiddleWrap {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .whtsappWrp {
    padding-right: 0;
  }

  .whtsappWrp a {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .whtsappWrp a.contctPhn em,
  .contctDtlsWrap a em {
    font-size: 14px;
    line-height: 24px;
  }

  .contctDtlsWrap {
    margin-bottom: 15px;
  }
}


@media only screen and (max-width: 575px) {
  .hdrContact ul li a em {
    display: none;
  }

  .hdrSocials {
    margin-top: 3px;
  }

  .hdrContact ul li {
    margin-right: 15px;
  }

  .hdrContact ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hdrContact ul li a img {
    width: 18px;
    margin: 0;
  }

  .topHdng h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .aboutSec {
    padding: 30px 0 20px;
  }

  .recipesCol {
    min-height: inherit;
    margin-bottom: 30px;
  }

  .recipesCol iframe {
    height: 250px !important;
  }
}


@media only screen and (max-width: 480px) {
  .ftrMenuWrap ul {
    flex-wrap: wrap;
  }

  .ftrMenuWrap ul li {
    margin-bottom: 8px;
  }

  .recipesCol iframe {
    height: 200px !important;
  }

  .contactWrapper {
    padding: 25px 25px;
  }
}